version: 0.1
log:
  accesslog:
    disabled: true
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
  maintenance:
    uploadpurging:
      enabled: true
      age: 168h
      interval: 24h
      dryrun: false
    readonly:
      enabled: false
  tag:
    concurrencylimit: 0
http:
  addr: :5000
  headers:
    Access-Control-Allow-Credentials: [true]
    Access-Control-Allow-Headers: ['Authorization', 'Accept', 'Cache-Control']
    Access-Control-Allow-Methods: ['DELETE', 'GET', 'HEAD', 'OPTIONS']
    Access-Control-Allow-Origin: ['*']
    Access-Control-Expose-Headers: ['Docker-Content-Digest']
    Access-Control-Max-Age: [1728000]
    X-Content-Type-Options: [nosniff]
